.containerCastom{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	margin-top: 30px;
}

.list-group-item{
	margin: 10px 0;
}

.info h1{
	margin-bottom: 20px;
}

.booking{
	margin-top: 20px;
}

.modal-dialog{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.booking-form{
	margin-top: 10px;	
}