a.info{
	color: black;
	text-decoration: none;
}

.container{
	gap:10px;
	flex-wrap: wrap;
}

input{
	min-width: 30%;
}

.confirmation{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.modal-dialog{
	margin-top: -70px !important;
}